.page-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 238, 242, 0)), to(#eceef2));
  background: linear-gradient(rgba(236, 238, 242, 0), #eceef2); }

.primary-title {
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  margin: 0; }

.primary-text {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  margin: 0; }

.primary-button {
  border: none;
  padding: 0;
  background: inherit;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.primary-button:hover {
  text-decoration: none; }

.primary-line {
  margin: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.4;
  margin: 16px 0 16px 0; }

.primary-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.main-content {
  padding: 28px 0 124px 0; }

.contest-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contest-info__inner {
  margin: 0 0 0 16px; }

.contest__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0; }

.contest__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0; }

.main-content__video-block {
  margin: 24px 0 0 0; }

.main-content__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px; }

.video-vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 0; }

.video-vote__block-video {
  margin: 0 32px 0 0;
  max-width: 832px; }

.video-vote__block-vote {
  margin: 16px 0 0 0;
  max-width: 256px; }

.button-vote__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  margin: 0 0 16px 0; }

.button-vote__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin: 0 0 24px 0; }

.video-block__video {
  max-width: 100%;
  display: block;
  border-radius: 17px;
  overflow: hidden; }

.vote-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 34px 0; }

.button-vote__wrapper {
  margin: 0 0 8px 0; }

.button-vote__wrapper:last-child {
  margin: 0; }

.button-vote_primary {
  border: none;
  padding: 0;
  background: inherit;
  cursor: pointer;
  text-align: left;
  min-width: 256px;
  min-height: 60px;
  border-radius: 50px;
  font-weight: bold; }

.button-vote_primary:hover {
  text-decoration: none; }

.button-vote_fb {
  background: #1f3b74; }

.button-vote_vk {
  background: #27466a; }

.button-vote_ok {
  background: #d06313; }

.button-vote__text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 0 15px; }

.vote-block__amount {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px; }

.personal-solution_wrapper {
  margin: 0 0 40px 0; }

.personal-solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 0 -81px 0; }

.personal-info {
  margin: 0 0 0 32px; }

.personal-info__title {
  margin: 0 0 8px 0; }

.personal-info__subtitle {
  margin: 0 0 8px 0; }

.personal-info__link {
  font-weight: bold; }

.personal-info__link:hover {
  text-decoration: none; }

.personal-info__link-icon {
  display: inline-block;
  margin: 0 0 1px 8px; }

.personal-solution__representative {
  margin: 0 0 0 auto; }

.representative__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 16px 0; }

.representative__photo {
  max-width: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%; }

.representative__inner {
  margin: 0 0 0 8px; }

.representative__button {
  background: #0d870d;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 700;
  min-width: 232px;
  min-height: 50px;
  padding: 10px; }

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.indicators_wrapper {
  margin: 0 0 0 32px; }

.indicators__line {
  margin: 16px 0 16px 0; }

.indicators__item {
  margin: 0 0 16px 0; }

.indicators__number {
  display: block;
  font-size: 18px; }

.about-company__info-company {
  margin: 0 0 32px 0; }

.about-company {
  max-width: 75%; }

.about-company__cost-franchise {
  margin: 0 0 32px 0; }

.company-info__description {
  line-height: 28px;
  margin: 0 0 16px 0; }

.company-info__line {
  margin: 16px 0 16px 0; }

.franchise-cost {
  background: rgba(30, 160, 30, 0.1);
  border-radius: 16px;
  padding: 24px; }

.franchise-cost__table {
  margin: 24px 0 24px 0; }

.cost-table__paragraph {
  min-width: 220px;
  padding: 0 24px 16px 0;
  color: rgba(0, 0, 0, 0.52);
  vertical-align: baseline; }

.cost-table__value {
  padding: 0 0 16px 0; }

.cost-table__line:last-child > .cost-table__paragraph,
.cost-table__line:last-child > .cost-table__value {
  padding-bottom: 0; }

.franchise-cost__request {
  text-align: center; }

.franchise-cost__link-download:hover {
  text-decoration: none; }

.franchise-cost__link-img {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 40px; }

.franchise-cost__text {
  font-weight: 700;
  margin: 0 0 0 16px;
  vertical-align: middle; }

.franchise-info {
  margin: 0 0 32px 0; }

.franchise-info__line {
  margin-bottom: 24px; }

.franchise-info__description {
  line-height: 28px;
  margin: 0 0 16px 0; }

.photo-franchise {
  margin: 0 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.photo-franchise__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.photo-franchise__img-link {
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  margin: 0 18.666px 0 0; }

.photo-franchise__img {
  display: block;
  max-width: 196px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.photo-franchise__column:last-child > .photo-franchise__img-link:last-child {
  margin: 0 0 0 0; }

.feedback-content {
  margin: 0 0 24px 0;
  background: #eceef2;
  border-radius: 16px;
  padding: 24px; }

.feedback-content__inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.feedback-content__form {
  max-width: 48%; }

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form-field {
  border: none;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #cccccc;
  padding: 9px 12px 9px 44px; }

.form-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.52); }

.form-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.52); }

.form-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.52); }

.form-field::placeholder {
  color: rgba(0, 0, 0, 0.52); }

.form-field_name {
  background: url("../img/form-name.svg") left 12px top 50% no-repeat #ffffff; }

.form-field_email {
  background: url("../img/form-email.svg") left 12px top 50% no-repeat #ffffff; }

.form-field_tel {
  background: url("../img/form-tel.svg") left 12px top 50% no-repeat #ffffff; }

.form-field_text {
  padding: 9px 12px 9px 12px;
  min-height: 86px; }

.feedback-form__field {
  min-height: 42px;
  margin: 0 0 8px 0; }

.checkbox-robot {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 16px;
  margin: 8px 0 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.checkbox-robot_inner {
  padding-left: 40px; }

.checkbox-robot__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0); }

.checkbox-robot__box {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("../img/checkbox-empty.svg") no-repeat;
  margin-left: -40px; }

.checkbox-robot__input:checked + .checkbox-robot__box {
  background: url("../img/discuss-check.svg") center center no-repeat, url("../img/checkbox-empty.svg") no-repeat; }

.checkbox-robot__label {
  margin: 0;
  cursor: pointer; }

.checkbox-robot__text {
  vertical-align: middle; }

.checkbox-robot__inscription {
  margin: 0 0 0 auto;
  color: rgba(0, 0, 0, 0.52);
  font-size: 14px;
  line-height: 20px; }

.feedback-form__button {
  background: #0d870d;
  color: #ffffff;
  border-radius: 6px;
  padding: 13px;
  min-height: 50px;
  font-weight: 700;
  margin: 0 0 16px 0; }

.feedback-content__security {
  position: relative; }

.feedback-content__security-img {
  position: absolute; }

.feedback-content__security-text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 51px; }

.feedback-content__discuss {
  max-width: 48%; }

.discuss__title {
  margin: 0 0 16px 0; }

.discuss__item {
  position: relative;
  padding: 0 0 0 32px;
  margin: 0 0 16px 0; }

.discuss__item::before {
  content: "";
  height: 24px;
  width: 24px;
  background: url("../img/discuss-check.svg") no-repeat;
  position: absolute;
  left: 1px; }

.other-contributors {
  margin: 0 0 40px 0; }

.other-contributors__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 32px 0; }

.contributor-block__video {
  border-radius: 16px;
  width: 352px;
  height: 198px;
  overflow: hidden; }

.contributor-block__info {
  margin: 0 0 16px 0; }

.other-contributors__button-all {
  font-weight: 700;
  padding: 13px;
  min-height: 50px;
  min-width: 240px;
  border: 1px solid #CCCCCC;
  border-radius: 6px; }

@media (max-width: 1024px) {
  .video-vote {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 876px) {
  .main-content__title {
    font-size: 36px;
    line-height: 36px; } }
/*# sourceMappingURL=style.css.map */